{% extends "base.html" %}


{% block main %}
<div class = "layout border-style">
	<div class="modal-dialog">
		<div class="span4 well">
            <div class="row">
        		    <img class = "profilePic"src="{{ url_for('static', filename='uploads/'+User.filename) }}"/>
        		<div class="col pos_title">
                  	<h2><strong>{{User.first_name}}{{ User.last_name}}</strong></h2>
                  	<p><i class="fa fa-envelope-o"></i>{{User.email}}</p>
                  	<p><i class="fa fa-map-marker"></i>{{User.location}}</p>
             		<p><i class="fa fa-calendar-o"></i> Joined on {{User.created_on}}</p>
             		
        		</div>
        	</div>
        	<div class="bio">
                    <p class="text-left"><strong>About Me: </strong></p>
                    <p>{{User.biography}}</p>
        	</div>
        	<div class="profile-userbuttons">
        	    <center>
					<button type="button" class="btn btn-success btn-sm">Send messaage</button>
					<button type="button" class="btn btn-primary btn-sm">follow</button>
				</center>
			</div>
	</div>
</div>
{% endblock %}